<h1 class="text-center display-4 mt-4">Read the latest Squeals</h1>

<div class="container squeal-container">
    <% @squeals.each do |s| %>
      <div class="row"> 
        <div class="col-md-6 offset-md-3">
          <div class="squeal-box">
            <div class="row">
              <%= s.comment %>
            </div>
            <div class="float-right"><%= s.user.fullname%></div>
            <br/>
            <div class="float-right"><%= s.created_at.strftime("%B %-d @%-I:%M %p")%></div>
          </div>
        </div>
      </div>
    <%end%>
  </div>