/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

body {
  margin:0px;
  font-family: 'McLaren', cursive;
}
/* all devise forms need a little space at the top */
.devise-form{
  margin-top: 5em;
}
/*landing page css... because firsst impressions are important */
.landing-page-left{
  background-color: rgba(243,190,190,.85);
  height: 100vh;
  background-image: image-url('pigbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}
.landing-page-right{
  background-color:rgba(255,127,80, .8);
  height: 100vh;
}
.hero-text {
  text-align: center;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text-center {
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.landing-page-btn{
  margin: 1em;
  padding: .5em 3em .5em 3em;
}