//these are the styles for the squeal form
.squeal-card-text{
  width: 100%;
  padding: 1em;
}

//this is the container that contains all the squeals on the home page
.squeal-container {
  margin-top:5em;
}
//this is how a squeal is stylized
.squeal-box{
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 30px;
}

